.brand-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.brand-logo__desc {
  font-weight: 600;
  font-size: clamp(20px, 3vw, 30px);
}

@media (max-width: 768px) {
  .brand-logo__desc {
    display: none;
  }
}
