.sale {
  display: flex;
  flex-direction: column;
  border-radius: 40px;
  padding: 30px;
  gap: 40px;

  background-color: var(--dark-background-card);
}
.sale__metric {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.sale__metric-icon {
  max-width: 24px;
  max-height: 24px;
  padding: 9px;
  border-radius: 8px;
  background-color: #151a20;
}

.sale__metric-income {
  align-self: center;
  padding: 8px 10px;
  border-radius: 20px;

  color: var(--dark-background-card);
  font-family: var(--second-brand-text-style);
  background-color: var(--green-color);
}

.sale__data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--second-brand-text-style);
}

.sale__values {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
.sale__amount {
  font-size: 35px;
}

.sale__description {
  color: var(--gray-text-color);
  max-width: 92px;
}
