.habit {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 30px;
  gap: 20px;

  background-color: var(--dark-background-card);
}

.habit__head {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
}

.habit__head-data {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.habit__head-title {
  font-family: var(--second-brand-text-style);
  font-weight: 600;
  font-size: 26px;
}

.habit__icon {
  max-width: 19px;
  max-height: 19px;
  border-radius: 7px;
  padding: 12px;
  background: #151a20;
}
@media (max-width: 1024px) {
  .habit__head-title {
    font-size: 22px;
  }
}
