.button {
  border-radius: 40px;
  background-color: var(--brand-color-light);
  font-weight: 500;
  box-sizing: border-box;
  line-height: 1;
}

.button--header {
  padding: 20px 30px;
}

.button--register {
  padding: 15px 0;
  width: 100%;
}

.button--transparent {
  padding: 12px 22px;
  backdrop-filter: blur(20px);
  background: #ffffff33;
  border: 1.5px solid #ffffff4d;
  color: var(--brand-color-light);
  font-size: 22px;
  font-weight: 500;

  width: 100%;
  max-width: 210px;
  height: 100%;
  min-height: 65px;
}
.button--opaque {
  padding: 12px 22px;
  font-size: 22px;
  font-weight: 500;

  width: 100%;
  max-width: 210px;
  height: 100%;
  min-height: 65px;
}
