.conversion__platform {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  flex: 1;
}
.conversion__indicator {
  display: inline-block;
  width: 100%;
  min-width: 5px;
  max-width: 27px;
  height: 12px;
  border-radius: 20px;
  margin-left: 10px;
}

.conversion__indicator--instagram {
  background-color: var(--blue-color);
}
.conversion__indicator--tiktok {
  background-color: var(--yellow-color);
}
.conversion__indicator--youtube {
  background-color: var(--light-blue-color);
}

@media (max-width: 1024px) {
  .conversion__platform {
    font-size: 14px;
  }
}
