.hero {
  padding: 200px 0;
}

.hero__cards {
  position: relative;
}

.hero__content {
  display: flex;
  gap: 50px;
  justify-content: center;
  flex-direction: column;
}
.hero__text {
  display: flex;
  flex-direction: column;
  gap: 40px;
  text-align: center;
  align-items: center;
}
.hero__title {
  background: linear-gradient(100deg, #ffffff, #aaaaaa, #000000);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hero__description {
  max-width: 350px;
}

.hero__buttons {
  display: flex;
  gap: 55px;
  justify-content: center;
}

@media (min-width: 481px) {
  .hero__description {
    max-width: 450px;
  }
}
@media (min-width: 1025px) {
  .hero__description {
    max-width: 600px;
  }
}
@media (min-width: 1440px) {
  .hero__description {
    max-width: 710px;
  }
}
