.pricing-card {
  background: rgba(255, 255, 255, 0.02);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(35px);
  box-shadow: 0px 4px 4px 0px rgba(157, 157, 157, 0.25) inset;

  border-radius: 30px;

  max-width: 420px;
  padding: 40px 30px;
}

.pricing-card:nth-child(even) {
  background: linear-gradient(
    336.67deg,
    rgba(0, 14, 43, 0.4) 3.29%,
    rgba(0, 58, 237, 0.4) 82.33%,
    rgba(0, 14, 43, 0.4) 117.46%
  );

  box-shadow: 0px 0px 20px 0px rgba(11, 67, 186, 0.3);
}
