.analytics__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.analytics__text {
  display: flex;
  flex-direction: column;
  gap: 25px;

  text-align: center;
}
