.review__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.review__comment {
  font-size: 16px;
  font-weight: lighter;
}
.review__user-name {
  font-size: 16px;
  font-style: italic;
}
