.billing-toggle {
  display: flex;
  justify-content: center;
  padding: 20px 0 30px 0;
}
.billing-toggle__container {
  background-color: #ffffff05;
  backdrop-filter: blur(70px);
  box-shadow: 0px 4px 4px 0px #9d9d9d40 inset;
  border: 1px solid #ffffff1a;
  border-radius: 50px;
  padding: 18px 40px;
}

.toggle {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
