.support__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.support__title {
  display: flex;
  flex-direction: column;
  gap: 25px;

  text-align: center;
  max-width: 700px;
}

.support__contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 70px;
  width: 100%;
}
