.support__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.support__title {
  display: flex;
  flex-direction: column;
  gap: 25px;

  text-align: center;
  max-width: 700px;
}
