.analytics-grid {
  display: grid;
  grid-template-columns:
    minmax(0, 2fr)
    minmax(0, 1fr)
    minmax(0, 1fr)
    minmax(0, 2fr);
  grid-template-rows: auto auto auto;
  align-items: stretch;
  gap: 30px 15px;
  grid-template-areas:
    "a b b d"
    "a c c d"
    "e e f f";
}

.card-1 {
  grid-area: a;
}

.card-2 {
  grid-area: b;
}

.card-3 {
  grid-area: c;
}

.card-4 {
  grid-area: d;
}

.card-5 {
  grid-area: e;
}

.card-6 {
  grid-area: f;
}

@media (max-width: 768px) {
  .analytics-grid {
    grid-template-areas:
      "a d d d"
      "c c b b"
      "e e e e"
      "f f f f";
  }
}
