.pricing__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;

  position: relative;
}

.pricing__content::before {
  content: "PLANNING";
  position: absolute;
  top: 33%;
  font-size: clamp(40px, 15vw, 200px);
  font-weight: 600;
  color: #ffffffc7;
  filter: blur(6px);
}
@media (min-width: 1440px) {
  .pricing__content::before {
    font-size: 200px;
  }
}
.pricing__text {
  display: flex;
  flex-direction: column;
  gap: 25px;

  text-align: center;
}
