.ai-function__card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px 15px 40px 15px;
  gap: 30px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-icon {
  width: 40px;
  height: 40px;
  border: 2px #fff solid;
  border-radius: 17px;
  padding: 15px;
  align-self: flex-end;
}

.card-text {
  font-size: 26px;
  max-height: 340px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}
