.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__logo-desc {
  font-weight: 600;
  font-size: clamp(20px, 3vw, 30px);
}

@media (max-width: 768px) {
  .header__logo-desc {
    display: none;
  }
}
