@import url("../fonts/fonts.css");

:root {
  --main-brand-text-style: "Montserrat";
  --second-brand-text-style: "Inter";
  --third-brand-text-style: "DM Sans";

  --brand-background-color: #070707;
  --brand-color-light: #ffffffe0;
  --light-text-color: #ffffff;
  --gray-text-color: #ffffff7d;
  --yellow-color: #ffd60a;
  --green-color: #70f17a;
  --light-blue-color: #00d5ff;
  --blue-color: #0b43ba;
  --dark-background-card: #0a0d10;

  --h1-size: 26px;
  --h2-size: 20px;
  --h3-size: 14px;
  --p-size: 14px;

  --h1-weight: 600;
  --h2-weight: 600;

  --h1-max-width: 350px;
  --h2-max-width: 350px;
  --h3-max-width: 350px;
}

@media (min-width: 481px) {
  :root {
    --h1-size: 36px;
    --h2-size: 28px;

    --h1-max-width: 450px;
    --h2-max-width: 550px;
    --h3-max-width: 550px;
  }
}
@media (min-width: 1025px) {
  :root {
    --h1-size: 48px;
    --h2-size: 36px;
    --h3-size: 16px;

    --h1-max-width: 800px;
    --h2-max-width: 700px;
    --h3-max-width: 625px;
  }
}
@media (min-width: 1440px) {
  :root {
    --h1-size: 90px;
    --h2-size: 50px;
    --h3-size: 20px;

    --h1-max-width: 1300px;
    --h2-max-width: 850px;
    --h3-max-width: 850px;
  }
}

/* * {
  outline: 4px solid green !important;
} */
html {
  font-family: var(--main-brand-text-style);
  font-weight: 400;
  font-size: 16px;
  color: var(--light-text-color);
}
body {
  margin: 0;

  height: 100vh;
  background-color: var(--brand-background-color);
}

section {
  padding: 40px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  max-width: var(--h1-max-width);
  overflow-wrap: break-word;
}
h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  max-width: var(--h2-max-width);
  overflow-wrap: break-word;
}

h3 {
  font-size: var(--h3-size);
  max-width: var(--h3-max-width);
  overflow-wrap: break-word;
}
p {
  font-size: var(--p-size);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: var(--light-text-color);
  cursor: pointer;
  font-family: inherit;
}
