@import url("../fonts/fonts.css");

:root {
  --main-brand-text-style: "Montserrat";
  --second-brand-text-style: "Inter";
  --third-brand-text-style: "DM Sans";

  --brand-background-color: #070707;
  --brand-color-light: #ffffffe0;
  --light-text-color: #ffffff;
  --gray-text-color: #ffffff7d;
  --yellow-color: #ffd60a;
  --green-color: #70f17a;
  --blue-color: #0b43ba;
  --light-blue-color: #00d5ff;
  --light-emerald-color: #00c4c9;
  --dark-emerald-color: #0b4357;
  --dark-background-card: #0a0d10;

  --h1-size: clamp(26px, calc(1rem + 5.1vw), 90px);
  --h2-size: clamp(20px, 4vw, 50px);
  --h3-size: clamp(14px, 1vw, 20px);
  --p-size: 14px;

  --h1-weight: 600;
  --h2-weight: 600;

  --h1-max-width: 350px;
  --h2-max-width: 350px;
  --h3-max-width: 350px;
}

@media (min-width: 481px) {
  :root {
    --h1-max-width: 800px;
    --h2-max-width: 590px;
    --h3-max-width: 590px;
  }
}
@media (min-width: 1025px) {
  :root {
    --h2-max-width: 700px;
    --h3-max-width: 625px;
  }
}
@media (min-width: 1440px) {
  :root {
    --h1-max-width: 1300px;
    --h2-max-width: 850px;
    --h3-max-width: 850px;
  }
}

/* * {
  outline: 4px solid green !important;
} */
html {
  font-family: var(--main-brand-text-style);
  font-weight: 400;
  font-size: 16px;
  color: var(--light-text-color);
}
body {
  margin: 0;

  height: 100vh;
  background-color: var(--brand-background-color);
}

section {
  padding: 40px 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  max-width: var(--h1-max-width);
  overflow-wrap: break-word;
}
h2 {
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  max-width: var(--h2-max-width);
  overflow-wrap: break-word;
}

h3 {
  font-size: var(--h3-size);
  max-width: var(--h3-max-width);
  overflow-wrap: break-word;
}
p {
  font-size: var(--p-size);
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

button {
  border: none;
  background: var(--light-text-color);
  cursor: pointer;
  font-family: inherit;
}
