.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 15px;
  padding: 38px 0 38px 0;

  position: relative;
}

.footer__inner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.footer__nav {
  display: flex;
  justify-content: space-between;
  gap: 90px;
}

.footer__column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer__title {
  font-size: 16px;
  font-weight: bold;
}
.footer__list {
  padding-top: 25px;
}
.footer__item {
  padding-top: 12px;
  font-size: 16px;
  font-weight: lighter;
}
