.ai-function-card {
  display: flex;
  flex-direction: column;
  border-radius: 30px;
  padding: 20px 15px 40px 15px;
  gap: 30px;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1;
}

.ai-function-card__icon {
  width: clamp(24px, 4vw, 40px);
  height: clamp(24px, 4vw, 40px);
  padding: clamp(6px, 1vw, 15px);
  border: 2px #fff solid;
  border-radius: 17px;

  align-self: flex-end;
}

.ai-function-card__text {
  font-size: 26px;
  height: 100%;
  max-height: 340px;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
}

@media (max-width: 1024px) {
  .ai-function-card__text {
    font-size: 22px;
  }
}
